/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #333;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* padding: 20px; */
    
}


.container {
    margin: 20px auto;
    width: 90%;
    height: 100vh;
    background: url(/img/view-empty-soccer-stadium-with-fantasy-dreamy-sky.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.card_player_one {
    width: 100%;
    height: inherit;
    /* background: linear-gradient(135deg, #ffcf33, #e8b023); */
    /* overflow: hidden; */
    margin: 20px;
   
}

.player_card {
    width: 90%;
    margin: auto;
    height: 24%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}


/* .player_card p {
    font-size: 5px;
    margin-bottom: 13px;
    position: relative;
    top: 96px;
} */

.player_card .rating {
    font-size: 3rem;
    font-weight: bold;
    color: #ffea00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* style form */

.h2_text_form {
    color: #e8b023;
    text-align: center;
}
.container_form {  
    width: 80%; 
    margin: 20px auto; 
    padding: 20px;   
    background-color: rgba(255, 255, 255, 0.344);
    border-radius: 10px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    position: absolute;
    display: none; 
    z-index: 999;
} 

.flex-container {  
    display: flex;  
    justify-content: space-between;  
    flex-wrap: wrap;  
    margin-bottom: 20px; 
}   

.flex-item {  
    flex: 1; 
    min-width: 260px; 
    padding: 15px;  
}  


.info-section {  
    background-color: #eaf6fb; 
    border: 1px solid #b3d7ff;  
    border-radius: 8px;  
    margin-right: 10px;   
}  

.attributes-section {  
    background-color: #fff9e6; 
    border: 1px solid #f2c94c;  
    border-radius: 8px;  
}  

.container_info_form, .container_one_form {  
    margin-bottom: 15px;  
}  

.attribute-input {  
    margin-bottom: 12px; 
}  

label {  
    display: block;  
    margin-bottom: 5px;  
    font-weight: bold;  
    color: #2c3e50;  
}  

input[type="text"],  
input[type="number"],  
input[type="file"],  
select {  
    width: 95%; 
    padding: 10px;  
    border: 1px solid #d1d1d1;  
    border-radius: 4px;  
    transition: border-color 0.3s; 
}  

input:focus,  
select:focus {  
    border-color: #3498db; 
    outline: none; 
}  

button {  
    background-color: #20005c;
    color: white;  
    padding: 12px 20px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    transition: background-color 0.3s ease;  
    font-size: 16px; 
}  

button:hover {  
    background-color: #218838; 
}  

.error_validation {  
    color: #ff4d4d;  
    font-size: 14px; 
    margin-bottom: 10px; 
} 




.player {
    width: 150px;
    height: 100%;
    background-image: url(/img/p_rare_gold.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    position: relative;
    cursor: pointer;
}
.player:hover {
    transform: scale(1.2);
    background-color: #ff000048;
}


.name_player {
    background-color: #ffee37;
    width: 64.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 8px;
    top: 88px;
    left: 52px;
    overflow: hidden;
    font-size: 5px;
    text-align: center;
    height: 13px;
}
.image_player {
    width: 57px;
    position: absolute;
    left: 55px;
    bottom: 96.5px;
}



.rt {
    position: absolute;
    top: 25px;
    right: 66px;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 8px;
}
.flag_club_logo {
    position: absolute;
    left: 36px;
    top: 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
}

.child_info {
    /* position: absolute; */
    position: relative;
}

.ihtiyat_player {  
    display: flex;  
    justify-content: flex-start;  
    align-items: center;  
    background-color: #ffffff; 
    border-radius: 15px;   
    min-width: 90%;  
    height: 200px;  
    position: relative;  
    top: 20px;      
    padding: 20px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
    transition: background-color 0.3s; 
    overflow-x: auto;
    white-space: nowrap;  
}  

.single {
    display: flex;  
    justify-content: flex-start;  
    /* align-items: center;   */
    height: 150px;  
    /* position: absolute;   */
    top: 20px;      
}

.ihtiyat_player:hover {  
    background-color: #ffc25f;  
}

.fa-bars {
    color: #FFD43B;
    display: flex;
    justify-content: flex-end;
    font-size: 42px;
    width: 98%;
}


.fa-xmark {
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(255, 0, 0);
    font-size: xxx-large;
    cursor: pointer;
    z-index: 111;
}

#photoPlayer {
   color: black;
   background-color: rgb(211, 255, 129);
}

.error_validation {
    color: red; 
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    font-size: 8px;
    border: 1px solid rgb(255, 255, 255);
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}
span{
    color: #ff0000;
    font-weight: 700;
}

#phy {
    border-bottom-right-radius: 20px;
}

.fa-pen-to-square {
    color: #60ff1e;
    position: absolute;
    left: 32px;
    top: 5px;
    font-size: small;
    cursor: pointer;
}


.fa-delete-left{
    color: #ff0000;
    position: absolute;
    left: 99px;
    top: 4px;
    font-size: small;
    cursor: pointer;
    z-index: 111;
}

.fa-delete-left:hover{
    color: #ff0000;
    position: absolute;
    left: 99px;
    top: 4px;
    font-size: small;
    cursor: pointer;
    z-index: 111;
    font-size: x-large;
}

.info_player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 103px;
    font-size: 46px;
    width: fit-content;
    left: 54px;
}

.position {
    font-size: 9px;
}

.img_flag {
width: 15px;
left: 36px;
top: 40px;
}

.club {
    width: 15px;
    /* position: absolute; */
}

.fa-pen-to-square:hover{
    font-size: large;
}


.fa-plus  {
    position: absolute;
    right: 10px;
    top: 10px;
    color: yellow;
    font-size: xxx-large;
    cursor: pointer;
    z-index: 111;
}


#afficherFormIconForm {
display: block;
}


.tactique {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    width: 90%;
    position: absolute;
    top: 230px;
    left: 80px;
    z-index: 111;
}

#tactiques {
    width: 116px;
    height: 40px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: transparent;
    border: 2px solid #e8b023;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: white;
}

#tactiques:hover {
    border-color: #ff8c00;
    color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#tactiques:focus {
    outline: none;
    border-color: #ff6a00;
    box-shadow: 0 0 8px rgba(255, 106, 0, 0.8);
}

#tactiques option {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: #fff;
}



/* added card style */


.image_player_added {
    width: 57px;
    position: absolute;
    left: 57px;
    bottom: 77.5px;
}

.name_player_added {
    background-color: #ffee37;
    width: 64.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 8px;
    top: 72px;
    left: 52px;
    overflow: hidden;
    font-size: 5px;
    text-align: center;
    height: 13px;
}

.info_player_added {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 86px;
    font-size: 46px;
    width: fit-content;
    left: 54px;
}

.flag_club_logo_added {
    position: absolute;
    left: 36px;
    top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
}


@media screen and (max-width: 768px) {
    
    .tactique {
        display: flex
    ;
        justify-content: flex-start;
        align-items: center;
        margin: 20px;
        position: absolute;
        top: 206px;
        left: 24px;
        z-index: 111;
    }
    .image_player{
        bottom: 103px;
    }
}